<!DOCTYPE html>
<html>

  <body>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="style.css" rel="stylesheet" type="text/css" />
        
    <head>
      <h1 id="Title" style='text-align:center;'> UniVents </h1>    
    </head>

        
  <div class="mytabs">
  
    <input type="radio" id="tabHome" name="mytabs" checked="checked">
    <label for="tabHome">Home</label>
    <div class="tab">
      <h2 style='text-align:center;'>Does this sound like you?</h2>
      <p> How many times have you needed someone for your pick up basketball game? </p>
      <p> How many times have you really wanted to invite classmates on a study session? </p>
      <p> How many times would it be helpful to go spend your time at a fun social event? </p>
      <h2 style='text-align:center;'>Use Univents!</h2>
      <p> Now, Univents lets you create and publish events for users to come join you! </p>
      <p> Students, alumni, and faculty can now become even more interconnected!</p>
      <p> Find events that you are looking for on campus and participate in them!</p>

      <h2 style='text-align:center;'>It is Quick and Easy!</h2>
      <p> Creating an event is as simple as filling out a form and pressing submit! Anyone can do it! </p>
      <p> As a participant, you can also see real time and future events! </p>
      <p> Our moderation team reviews events. We care about safety so you can have fun!</p>
      <a id="link5" href="google.com" target="_blank"> </a>
    </div>

    <input type="radio" id="tabCurrentListing" name="mytabs">
    <label for="tabCurrentListing">Current Listing</label>
    <div class="tab">
      <h2 style='text-align:center;'>Current Listings</h2>
      <p>See top current events!</p>
      <ul id="Listing">
        <li>Filler Events 1:</li>
            <h3> Filler description 1 <h3>
            <h3> Filler time 1 <h3>
            <h3> Filler attendance number 1 <h3>
        <li>Filler Events 2:</li>
            <h3> Filler description 2 <h3>
            <h3> Filler time 2 <h3>
            <h3> Filler attendance number 2 <h3>
        <li>Filler Events 3:</li>
            <h3> Filler description 3 <h3>
            <h3> Filler time 3 <h3>
            <h3> Filler attendance number 3 <h3>

      </ul>
      <p>Log in or sign up later to see additional events!</p>
      <p>Have an event you want to host and get more people to attend? Log in and create your event </p>
    </div>


    <input type="radio" id="tabAboutUs" name="mytabs">
    <label for="tabAboutUs">About Us</label>
    <div class="tab">
      <h2 style='text-align:center;'>About Us</h2>
      <p>Learn more about UniVents and our team!</p>
      <h3> Mission Statement </h3>
      <p> We are committed to making it easier to find events! </p>
      <h3> Developers </h3>
      <p > Our team is part of a highly skilled group of technicians who monitor, create, and enhance the user experience. </p>
      <p> We are committed to making it easier to find events! </p>
      <p > Our Leaders - Tito R., Ena C., Lam P., Dastan B., Shruti S.! </p>
      <h3> Contact Us </h3>
      <p > Email - univents@vent.com </p>
      <p > Phone - 123-456-7890 </p>
      <p >  Social Media Handles = @UniVents </p>
      <p> Location - 4400 University Drive, Fairfax VA </p>
      <p> Contact us now! Our business hours are 9 to 5 every day if you have any questions or concerns with using this platform. </p>
    </div>

    <input type="radio" id="tabLogin" name="mytabs">
    <label for="tabLogin"> Login
    <div class="tab">
    
    </div>
    </label>
    </div>
    
  
  
  </body>
</html>