<h3>Congrats! Your event has been created and is now available for everyone to view and signup</h3>
<p>Please use the following link to view the event: <%= link_to "#{@event.event_name}", event_url(@event) %></p>