@import 'bootstrap';

fieldset {
  background-color: white;
  padding: 1em 1em 1em 4em;
  border: 1px solid;
  border-color: black !important;
}

.uni-body { 
  background-color: #E4EAFF;
}

fieldset.inner { 
  background-color: #E4EAFF;
}