@import 'bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

fieldset {
  background-color: white;
  padding: 1em 1em 1em 4em;
  border: 1px solid;
  border-color: black !important;
}

.uni-body {
  background-color: #E4EAFF;
}

fieldset.inner {
  background-color: #E4EAFF;
}

.events-header {
  margin-top: 10%;
}

.flex-container {
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-box {
  width: 340px;
  height: 250px;
  background: white;
  color: black;
  text-align: left;
  border-radius: 10px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  transition: all 200ms;
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
}

.flex-box:hover {
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  cursor: pointer;
}

.event-card-title {
  overflow: hidden;
  word-break: break-word;
  max-height: 3.6em;
  line-height: 1.8em;
}

.event-card-description {
  overflow: hidden;
  word-break: break-word;
  font-size: 16px;
}

.table {
  background-color: white;
}

a {
  text-decoration: none !important;
}

.dashboard {
  background-color: white;
  border-radius: 20px;
}

.account-info {
  background-color: pink;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 22px;
}

.user-host-info {
  height: 500px;
  background-color: aqua;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
}

.alert-center {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: fit-content;
  text-align: center;
  z-index: 1;
}

html {
  overflow-y: overlay;
}