@import 'bootstrap';

fieldset {
  background-color: white;
  padding: 1em 1em 1em 4em;
  border: 1px solid;
  border-color: black !important;
}

.uni-body {
  background-color: #E4EAFF;
}

fieldset.inner {
  background-color: #E4EAFF;
}

.events-header {
  margin-top: 10%;
}

.flex-container {
  margin-left: 5%;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-box {
  width: 250px;
  height: 350px;
  background: gray;
  color: white;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
}